<h1 class="text-center my-3">add product </h1>
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="assets/imgs/2.jpg" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="productForm" (submit)="formSubmit()">
          <!-- name input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">name</label>

            <input formControlName="name" type="text" id="name" class="form-control form-control-lg"
              placeholder="Enter name of product" />

            <ng-container *ngIf="ProductNameControl.touched">
              <div *ngIf="ProductNameControl.hasError('required')" class="text-danger">
                name is required
              </div>
              <div *ngIf="ProductNameControl.hasError('minlength')" class="text-danger">
                name must be more than 3 letters
              </div>
            </ng-container>
          </div>


          <!-- quantity input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="quantity">quantity</label>
            <input formControlName="quantity" type="number" id="quantity" class="form-control form-control-lg"
              placeholder="Enter quantity" />

            <ng-container *ngIf="ProductquantityControl.touched">
              <div *ngIf="ProductquantityControl.hasError('required')" class="text-danger">
                quantity is required
              </div>
            </ng-container>
          </div>

          <div class="form-outline mb-3">
            <label class="form-label" for="price">price</label>
            <input formControlName="price" type="number" id="price" class="form-control form-control-lg"
              placeholder="Enter quantity" />
            <ng-container *ngIf="ProductPriceControl.touched">
              <div *ngIf="ProductPriceControl.hasError('required')" class="text-danger">
                price is required
              </div>
            </ng-container>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">{{id==0?'add product':'edit product'}}</button>
          </div>

        </form>
      </div>
    </div>
  </div>

</section>